/* Container styling */
div {
    max-width: 300px;
    margin-top:5px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header styling */
h4 {
    margin-top:5px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

/* Label styling */
label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Input styling */
input[type="text"] {
    margin-top:3px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

/* Button styling */
button[type="submit"] {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Button hover effect */
button[type="submit"]:hover {
    background-color: #218838;
}
